@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Start */
body {
  font-family: "Inter", sans-serif;
}

/* Header */
/* .header {
  @apply fixed top-0 left-0 w-full flex items-center z-[9999] bg-white dark:bg-dark;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
} */
.header {
  @apply fixed bg-white dark:bg-dark bg-opacity-90 dark:bg-opacity-80 top-0 left-0 w-full flex items-center z-10;
}

.navbar-container {
  @apply flex items-center justify-between relative;
}

.navbar-brand {
  @apply font-bold text-2xl text-secondary block py-6 uppercase dark:text-white;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-secondary dark:bg-white font-extrabold transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white dark:bg-dark;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.nav-menu {
  @apply inset-0 py-3 bg-white dark:bg-dark w-full h-screen lg:h-auto top-20 lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none dark:shadow-slate-300 lg:dark:bg-transparent z-[9999] pl-5;
}

.nav-link {
  @apply hover:opacity-80 transition duration-300 ease-in-out mx-2 lg:mx-1 mt-1 text-secondary dark:text-white;
}

.nav-item {
  @apply text-base py-2 mx-2 flex hover:text-yellow-500;
}

.language-switcher {
  @apply hover:opacity-80 transition duration-300 ease-in-out mx-2 lg:mx-1 mt-1 text-secondary dark:text-white;
}

.language-button {
  @apply mx-2 lg:mx-1 text-base py-2 hover:text-yellow-500;
}

.theme-toggle {
  @apply relative transition duration-300 ease-in-out mt-1 text-secondary dark:text-white mx-4 lg:mx-1;
}
.theme-button {
  @apply text-base py-2 flex items-center w-full hover:text-yellow-500;
}

.theme-dropdown {
  @apply absolute right-0 mt-2 bg-white dark:bg-dark rounded-lg w-full z-10 py-2 lg:w-32;
}

.theme-option {
  @apply flex items-center justify-between p-2 hover:text-yellow-500 cursor-pointer text-base py-2 mx-2;
}

.theme-option .i {
  @apply text-sm text-secondary dark:text-white group-hover:text-yellow-500;
}
#nav-menu {
  transition: max-height 0.3s ease-in-out;
}

#homeLink.active,
#aboutLink.active,
#experienceLink.active,
#educationLink.active,
#portofolioLink.active,
#skillLink.active,
#contactLink.active {
  @apply text-yellow-500 font-bold;
}
/* Header End */

/* Footer Start */
.footer-section {
  @apply bg-gray-900 dark:bg-black text-white py-10;
}

.footer-container {
  @apply container;
}

.footer-content {
  @apply mx-auto lg:mx-10 flex flex-wrap justify-between px-4;
}

.footer-content1 {
  @apply w-full md:w-1/3;
}
.footer-logo {
  @apply flex items-center justify-start -mx-1 mb-4;
}
.footer-logo img {
  @apply w-16 h-16 rounded-full mr-4;
}
.footer-logo h1 {
  @apply text-lg font-semibold uppercase text-yellow-500;
}
.footer-logo p {
  @apply text-black dark:text-white -mt-2 uppercase text-xs;
}

/* Footer End*/
/* Back to top */
.back-to-top {
  @apply h-12 w-12 lg:h-14 lg:w-14 bg-yellow-400 justify-around items-center fixed z-10 bottom-4 right-4 rounded-full p-2 border-white border-2 shadow-xl hover:animate-pulse;
}
/* Back to top */
/* General End */

/* Hero Start */
.hero-section {
  @apply bg-slate-100 dark:bg-slate-800 relative;
}

.main-container {
  @apply relative overflow-hidden;
}

.overlay-content {
  @apply w-full h-screen;
}

.hero-content {
  @apply flex justify-center items-center;
}

.hero-img {
  @apply w-full h-full object-cover;
}

.hero-text {
  @apply absolute inset-0 bg-black/50 flex flex-col justify-center text-white px-8 lg:px-20;
}

.hero-text h1 {
  @apply uppercase text-2xl md:text-6xl font-bold mb-1 justify-start text-start mx-10 lg:mx-20;
}

.hero-text span {
  @apply text-yellow-500;
}

.hero-text p {
  @apply text-sm md:text-xl mb-6 mx-10 lg:mx-20 lg:w-1/2;
}

.hero-button {
  @apply w-full pb-10 mx-10 lg:mx-20;
}

.hero-button a {
  @apply text-sm font-bold text-white bg-yellow-500 py-3 px-6 rounded-xl hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out;
}

.hero-button i {
  @apply text-base font-bold;
}

.hero-nextprev {
  @apply transition-all border-2 hover:border-yellow-400 border-white rounded-full p-5;
}
/* Hero End */

/* Company Start */
.company-section {
  @apply py-16 relative dark:bg-charcoal;
}

.company-content {
  @apply lg:mx-20 -mt-36;
}

.company-container {
  @apply container mx-auto flex flex-wrap lg:flex-nowrap gap-8 relative z-10;
}

.company-card {
  @apply rounded-lg shadow-lg flex flex-col lg:flex-row;
}

.company-left {
  @apply bg-yellow-500 dark:bg-gunmetal dark:border-2 dark:border-secondary lg:dark:border-r-0 text-white dark:text-secondary p-8 rounded-lg lg:rounded-l-lg lg:rounded-r-none flex flex-col justify-between lg:w-1/2 mb-4 lg:mb-0;
}

.company-left h3 {
  @apply text-gray-800 dark:text-white uppercase font-semibold text-sm;
}

.company-left h2 {
  @apply text-4xl font-bold mt-2 dark:text-yellow-600;
}

.company-left p {
  @apply text-gray-700 mt-4 dark:text-slate-100;
}

.company-button {
  @apply mt-8 bg-gray-700 text-white px-6 py-2 rounded-lg hover:bg-gray-600 transition duration-300;
}

.company-right {
  @apply bg-white dark:text-secondary dark:bg-onyx dark:border-2 dark:border-secondary lg:dark:border-l-0 rounded-lg lg:rounded-r-lg lg:rounded-l-none p-8 lg:w-1/2 grid grid-cols-2 gap-8 relative;
}

.line-vertikal {
  @apply absolute inset-y-0 left-1/2 w-px bg-gray-300 dark:bg-gray-500 rounded-full my-2;
}

.line-horizontal {
  @apply absolute inset-x-0 top-1/2 h-px bg-gray-300 dark:bg-gray-500 rounded-full mx-2;
}

.right-content {
  @apply flex flex-col md:flex-row items-center text-center md:text-left;
}

.right-content i {
  @apply text-yellow-400 text-5xl md:mr-4 mb-2 md:mb-0;
}

.right-content .counter {
  @apply text-yellow-500 text-3xl lg:text-5xl font-bold;
}

.right-content p {
  @apply text-gray-700 dark:text-slate-200;
}
/* Company End */

/* Solution Start */
.solution-section {
  @apply py-16 dark:bg-dark;
}

.solution-text {
  @apply text-center mb-12;
}

.solution-text h3 {
  @apply text-yellow-500 uppercase font-semibold;
}

.solution-text h1 {
  @apply text-3xl font-bold dark:text-white;
}

.gradient-left {
  @apply absolute top-0 bottom-0 w-10 lg:w-40 bg-gradient-to-r from-white dark:from-dark to-transparent z-10 pointer-events-none;
}

.gradient-right {
  @apply absolute top-0 bottom-0 w-10 lg:w-40 bg-gradient-to-l from-white dark:from-dark to-transparent right-0 z-10 pointer-events-none;
}

.solution-content {
  @apply p-2 text-center;
}

.solution-content .card {
  @apply bg-white dark:bg-black dark:shadow-lg dark:hover:shadow-gunmetal shadow-md rounded-lg text-center pb-2 hover:shadow-xl;
}

.solution-content img {
  @apply w-full h-52 object-cover rounded-lg rounded-b-none mb-4;
}

.text-img {
  @apply absolute left-0 text-white bg-black bg-opacity-50 p-2 text-xs top-0 lg:top-auto lg:bottom-0 rounded-tl-lg lg:rounded-none;
}

.card-content {
  @apply flex items-center justify-center space-x-3;
}

.card-content span {
  @apply bg-gray-200 dark:bg-charcoal p-3 rounded-full inline-flex items-center justify-center text-3xl;
}

.card-content h2 {
  @apply text-xl font-semibold dark:text-slate-100;
}

.text-card {
  @apply text-secondary dark:text-slate-300 mt-2 px-3;
}

.next-prev {
  @apply transition-all hover:bg-yellow-400 bg-white bg-opacity-95 rounded-full p-5 shadow-lg;
}
/* Solution End */

/* Introduction Start  */
.intro-section {
  @apply mx-auto grid md:grid-cols-2;
}

.intro-bg {
  @apply relative bg-cover bg-center p-10 text-white;
}

.intro-overlay {
  @apply absolute inset-0 bg-black opacity-40 z-0;
}

.intro-content {
  @apply relative z-10;
}

.intro-content span {
  @apply text-yellow-500 uppercase tracking-wide font-semibold;
}

.intro-content h2 {
  @apply text-4xl font-bold mt-2;
}

.intro-content p {
  @apply mt-4 text-lg;
}

.intro-content button {
  @apply mt-6 bg-yellow-400 text-white font-semibold py-2 px-6 rounded-lg hover:bg-yellow-500;
}

.intro-right {
  @apply bg-yellow-400 p-10;
}

.intro-right h2 {
  @apply text-3xl font-bold text-black mb-4;
}

.intro-right p {
  @apply text-black mb-8;
}

.intro-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-6;
}

.intro-item {
  @apply flex items-center space-x-3;
}

.intro-item i {
  @apply text-3xl;
}

.intro-item h3 {
  @apply text-lg font-semibold;
}
/* Introduction End */

/* Project Start */
.project-section {
  @apply py-16 dark:bg-dark;
}

.project-text {
  @apply text-center mb-5;
}

.project-text h3 {
  @apply text-yellow-500 uppercase font-semibold;
}

.project-text h1 {
  @apply text-3xl font-bold dark:text-white;
}

.project-btn {
  @apply flex justify-center lg:justify-start lg:flex-col lg:mr-10 mb-10 lg:mb-0 lg:border-r lg:pr-6 space-x-2 lg:space-x-0;
}

.project-btn button {
  @apply text-gray-500 dark:text-slate-400 dark:active:text-yellow-500  lg:px-4 lg:py-2 lg:text-end;
}

.project-grid {
  @apply grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-2;
}

.project-card img {
  @apply w-full h-64 object-cover;
}

.project-card .by {
  @apply absolute left-0 text-white bg-black bg-opacity-50 p-2 text-xs top-0 rounded-br-xl;
}

.proverlay-1 {
  @apply absolute inset-x-0 bottom-0 h-0 bg-yellow-400 bg-opacity-85 opacity-0 group-hover:h-full group-hover:opacity-100 transition-all duration-500 ease-out;
}

.proverlay-2 {
  @apply absolute inset-0 bg-gradient-to-t from-black/85 to-black/0;
}

.procard-text {
  @apply absolute bottom-14 left-4 transform -translate-x-0 translate-y-10 group-hover:translate-y-0 transition-all duration-700 text-white;
}

.procard-text h2 {
  @apply text-xl font-semibold;
}

.procard-text p {
  @apply text-sm;
}
/* Project End */

/* Working Start */
.working-section {
  @apply py-16 bg-gray-100 dark:bg-charcoal;
}

.working-container {
  @apply container mx-auto text-center;
}

.working-text {
  @apply text-center mb-10;
}

.working-text p {
  @apply text-yellow-500 uppercase font-semibold;
}

.working-text h2 {
  @apply text-3xl font-bold dark:text-white;
}

.working-content {
  @apply flex flex-wrap justify-center gap-8;
}

.step-column {
  @apply flex flex-col items-center;
}

.icon-container {
  @apply bg-white dark:bg-onyx rounded-full p-6 shadow-lg dark:shadow-black relative;
}

.icon-container span {
  @apply absolute -top-0 -right-2 bg-yellow-500 text-white rounded-full w-8 h-8 flex items-center justify-center;
}

.icon-container i {
  @apply text-3xl dark:text-yellow-500;
}

.step-column p {
  @apply mt-4 font-medium dark:text-white;
}
.step-arrow {
  @apply flex mt-8;
}
.step-arrow i {
  @apply text-3xl text-secondary;
}
/* Working End*/

/* Testimoni Start */
.testi-section {
  @apply py-16 bg-gray-900 dark:bg-black text-white;
}

.testi-container {
  @apply container mx-auto text-center;
}

.testi-text {
  @apply text-center mb-10;
}

.testi-text p {
  @apply text-yellow-500 uppercase font-semibold;
}

.testi-text h2 {
  @apply text-3xl font-bold dark:text-white;
}

.testi-content {
  @apply max-w-xl mx-auto;
}

.testi-paragrph {
  @apply text-gray-400 italic mb-6;
}

.testi-people {
  @apply flex items-center justify-center;
}

.testi-people img {
  @apply w-16 h-16 rounded-full mr-4;
}

.testi-name {
  @apply font-semibold;
}

.testi-job {
  @apply text-yellow-500;
}

.testi-button {
  @apply flex justify-center space-x-4 mt-8;
}

.testi-button button {
  @apply bg-gray-800 hover:bg-yellow-500 text-white p-2 rounded-full;
}
/* Testimoni End */

/* Blog Start */
.blog-section {
  @apply py-16 bg-gray-100 pb-20 lg:pb-32 dark:bg-dark;
}

.blog-container {
  @apply container mx-auto text-center;
}

.blog-text {
  @apply text-center mb-10;
}

.blog-text p {
  @apply text-yellow-500 uppercase font-semibold;
}

.blog-text h2 {
  @apply text-3xl font-bold dark:text-white;
}

.blog-content {
  @apply flex flex-wrap justify-center gap-8;
}

.blog-card {
  @apply bg-white dark:bg-black shadow-md rounded-xl overflow-hidden w-80 border-b-4 border-yellow-500 p-4;
}

.blog-card img {
  @apply w-full h-48 object-cover mb-4 rounded-t-lg;
}

.blog-icon {
  @apply text-gray-500 flex items-center space-x-2 mb-2;
}

.blog-icon i {
  @apply text-yellow-500 text-xl;
}

.blog-icon span {
  @apply text-sm;
}

.blog-card h3 {
  @apply font-semibold text-lg mb-2 text-black dark:text-white;
}

/* Blog End */
